<template>
  <div class="wrap">
    <h1 class="logo"><img src="@/assets/img/logo.svg" alt="" /></h1>
    <p class="text is-desktop"><img src="@/assets/img/text.svg" alt="" /></p>
    <p class="text is-mobile"><img src="@/assets/img/text_mo.svg" alt="" /></p>
    <a href="mailto:day.earlydawn@gmail.com" class="btn btn__link">day.earlydawn@gmail.com</a>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  mounted() {
    let vh = 0
    vh = window.innerHeight * 0.01
    document.documentElement.style.setProperty('--vh', `${vh}px`)
  },
}
</script>
<style lang="scss">
@import '@/assets/scss/reset.scss';
html,
body {
  height: 100%;
}
.wrap {
  position: relative;
  padding: 40px;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(180deg, #00ffa3, #ff9900, #00ffa3, #0057ff, #0029ff, #ffb800);
  background-size: 500% 500%;
  animation: gradient 30s ease infinite;
  img {
    width: 100%;
  }
  .is-desktop {
    display: block;
  }
  .is-mobile {
    display: none;
  }
  .text {
    margin-top: 2.94%;
  }
  .btn {
    display: inline-block;
    &__link {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      align-items: center;
      height: 60px;
      padding: 0 40px;
      border-radius: 180px;
      text-transform: uppercase;
      text-decoration: none;
      background: #fff;
      font-weight: bold;
      font-size: 18px;
      color: #222;
      .btn-inner {
        display: block;
        overflow: hidden;
        height: 22px;
        font-size: 0;
        width: 116px;
        transition: width 0.6s ease;
        span {
          display: block;
          &.wake {
            transition: margin 0.6s ease;
            img {
              margin: 4px 0 0 0;
            }
          }
        }
      }
      &:hover {
        .btn-inner {
          width: 324px;
          .wake {
            margin-top: -22px;
          }
        }
      }
      img {
        width: auto;
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (max-width: 768px) {
  .wrap {
    padding: 20px;
    height: calc(var(--vh, 1vh) * 100);
    .is-desktop {
      display: none;
    }
    .is-mobile {
      display: block;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      margin: 0;
      padding: 0 20px;
      box-sizing: border-box;
      transform: translate(-50%, -50%);
    }
    .btn {
      &__link {
        height: 45px;
        left: 0;
        transform: none;
        bottom: 20px;
        width: calc(100% - 40px);
        margin: 0 20px;
        padding: 0 10px;
        justify-content: center;
        box-sizing: border-box;
        .btn-inner {
          width: auto;
          font-size: 0;
          line-height: 0;
          height: auto;
          .hello {
            img {
              width: 100%;
            }
          }
          .wake {
            display: none;
          }
        }
      }
    }
  }
}
</style>
